# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Database files
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db

# Build / dist
dist/
build/

# Electron cache
out/

# VS Code settings (optional)
.vscode/